@import "../../theme/variables.scss";

.home {
  display: inline-block;
  width: 100%;
  border-right: 1px solid #eaeaec;
}
.masthead {
  background: #2d2d2d;
  padding: 40px 20px;
  color: white;
  text-align: center;
  .logo {
    $size: 200px;
    margin: auto;
    height: $size;
    width: $size;
    border-radius: $size / 2;
    border: 1px solid $cyan;
    box-shadow: inset 0 0 10px $cyan;
    vertical-align: middle;
    p {
      line-height: $size;
      margin: 0px;
    }
    img {
      width: 75%;
      margin: auto;
    }
  }
  h1 {
    color: $cyan;
    font-size: 4em;
  }
  h2 {
    color: #ddd;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $humility;
    a {
      color: $humility;
    }
  }
  .github {
    font-size: 1.5em;
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}

.bagImage{
  width:100%;
}

.productList{
  width:70%;
  padding-left: 13px;
  margin-left: 200px;
}

.offerImage{
  width:71%;
  margin-top: 40px;
  margin-left: 200px;
}

.homeLeft{
  display: inline-block;
  width: 100%;
  border-right: 1px solid lightgray;
}
.homeRight{
  display: inline-block;
  width: 30%;
  padding: 10px;
  vertical-align: top;
}

.myntraHeader{
  width:100%;
}

.cartAmount{
  cursor: pointer;
  width: 80%;
}

.shoppingBagTitleContainer{
  margin-left: 213px;
  width: 69%;
  font-size: 16px;
  padding: 8px 12px 18px;
  font-weight: 600;
  display: inline-block;
  color: #282c3f;
}

.shareIcon{
  color: #ff3f6c;
  font-size: 18px;
  cursor: pointer;
}
.shopText{
  margin-right: 10px;
  display: inline-block;
}
.totalText{
  float:right;
  display: inline-block;
}

.pageTitle{
  text-align: left;
  font-size: 20px;
  margin-left: 213px;
}

.collectionTitle{
  font-size: 20px;
  /* margin-left: 223px; */
  margin: 20px;
  margin-left: 220px;
}

