.myntraHeader {
  width: 100%;
  margin: 0;
}

.leftColumn {
  height: 100%;
  display: inline-block;
  width: 30%;
}

.rightColumn {
  display: inline-block;
  vertical-align: top;
  width: 68%;
}

.orderLeft {
  width: 100%;
}

.orderTop {
  width: 100%;
  margin-top: 15px;
  margin-left: -8px;
}

.tick {
  background: url(https://myntraweb.blob.core.windows.net/mymyntra/assets/img/tick.svg)
    no-repeat;

  width: 14px;
  height: 21px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: 18px;
  margin-left: -6px;
  display: inline-block;
  position: relative;
  right: 10px;
  top: 19px;
}

.myOrder {
  background-color: white;
  padding: 18px;
  padding-top: 0px;
}

.ordersList {
  background-color: #f5f5f5;
  padding: 10px;
  margin-left: 6px;
  width: 64.5%;
}

.itemContainer {
  display: inline-block;
  vertical-align: bottom;
}

.itemDate {
  font-family: Whitney;
  font-size: 14px;
  line-height: 1;
  color: #282c3f;
  display: block;
  opacity: 0.7;
}

.itemTitle {
  font-weight: 500;
  font-family: Whitney;
  font-size: 14px;
  line-height: 1;
  color: rgb(3, 166, 133);
  display: inline-block;
}

.iconContainer {
  background-color: rgb(40, 44, 63);
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
}

.icon {
  margin: 4px;
}

.orderBottom {
  width: 73%;
}

.myOrder {
  width: 100%;
  display: inline-block;
}
