.loginPage {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }
}

.loginForm {
  margin-left: 200px;
}

.loginButton {
  background-color: #ff3f6c;
  border: 0 !important;

  &:hover {
    background-color: #ff3f6c !important;
  }
}

.myntraHeader {
  width: 100%;
  margin: 0;
}

.myntraHomepage {
  width: 100%;
  margin-top: -2px;
}

.myntraBanner {
  width: 50%;
  height: 350px;
}
.bannerText {
  padding: 0 17px 28px;
  position: absolute;
  top: 31px;
  cursor: pointer;
  right: 56%;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  border-bottom: none;
  transition: left 0.2s ease-out, width 0.2s ease-out;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    border-bottom: 4px solid;
    border-bottom-color: #0db7af;
  }

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0px;
  }
}
