.itemContainerBaseItem{
    background: #fff;
    font-size: 14px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    position: relative;
    padding: 12px 12px 0;
}

.itemBaseItem{
    margin-bottom: 20px;
}

.imgContainer{
    background: rgb(255, 237, 243);
    height: 148px;
    width: 111px;
}

.imgResponsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.itemContainerBaseItemRight{
    padding-left: 12px;
    position: relative;
    min-height: 148px;
    margin-left: 111px;
    margin-bottom: 12px;
}

.itemContainerBaseItemLeft{
    position: absolute;
}

.itemContainerBaseDetails{
    text-decoration: none;
    padding-bottom: 0;
    margin-right: 6px;
    min-height: 97px;
}

.itemContainerBaseItemLink{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
    text-decoration: none !important;
    padding-bottom: 0;
    margin-right: 6px;
    display: block;
    border-bottom: 0;
}

.itemComponentsBaseSellerContainer{
    margin-top: 2px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
}

.itemComponentsBaseSellerData{
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 62%;
    display: inline;
    color: #94969f;
}

.itemContainerBaseBrand{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.baseActions{
    border-top: 1px solid #eaeaec;
}
.baseRemoveButton, .baseMoveButton, .baseBagButton{
    display: inline-block;
    width: 25%;
    text-align: center;
    margin: 12px 0;
    button{
        text-transform: uppercase;
        font-weight: 600;
        color: #696b79;
        padding: 0;
        height: 20px;
        font-size: 12px;
        text-decoration: none;
        border: none;
        background: none;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        font-size: 13px!important;
        letter-spacing: .5px;
        padding: 0;
        outline: 0;
        -webkit-appearance: button;
        text-rendering: auto;
        word-spacing: normal;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
    }
}

.shareIcon{
    font-size: 20px;
    color: #ff3f6c;
    cursor: pointer;
}

.baseBag{
    margin: 10px;
    text-align: center;
}

.baseMoveButton{
    width: 70%;
    border-left: 1px solid #d4d5d9;
}